---
import {work} from "@cv/db_es.json"

---


<section>
        {
            work.map(({name,position,startDate,endDate,summary,keywords,highlights}) =>
                <p>{name}</p>
                <p>{position}</p>
                <p>{startDate} - {endDate}</p>
                <p>{summary}</p>
                <p>{keywords}</p>
                <p>{highlights}</p>

            )
        }

</section>