---
import {work} from "@cv/db_es.json"

---


<section>

    <h2>Experience</h2>
        {
            work.map(({name,position,startDate,endDate,summary}) =>
                <p>{name}</p>
                <p>{position}</p>
                <p>{startDate}</p>
                <p>{endDate}</p>
                <p>{summary}</p>

            )
        }

</section>