---
import Section from "@/components/section.astro"
import {basics} from "@cv/db_es.json"
import { Image } from 'astro:assets';
import X from "@/assets/icons/X.astro" 
import Linkedin from "@/assets/icons/Linkedin.astro" 
import Github from "@/assets/icons/Github.astro"
import Mail from "@/assets/icons/Mail.astro"
import World from "@/assets/icons/Location.astro";

const {name, Age, phone, label, email, image, location, profiles} = basics

const perfiles = profiles.map(p => p.network);
const barrer = "-".repeat(label.length);
---

<Section>
        <h1>{name}</h1>
        <div class="container">
            <div class="user_data">
                    <h4>{label}</h4>
                    <p>
              
                        <br>
                        <b>Edad:</b> {Age} <br>
                        <b>Mail:</b>   {email}<br>
                        <b>Phone:</b> {phone}
                    </p>
                    <a href="https://maps.app.goo.gl/TkMocBoLfwgMB1M59"><World /> {location.city}, {location.region}</a><br>
                    <br>
                </p>
                    <span>
                        <a class="rrss" href={`mailto:${email}`}><Mail/></a>
                        <a class="rrss" href="http://x.com"><X/></a>
                        <a class="rrss" href="http://x.com"><Linkedin/></a>
                        <a class="rrss" href="https://github.com/Rob-sc"><Github/></a>
                    </span>
            </div>
            <figure>
                <Image src={image} alt={name} width="150" height="150" class="imagen" loading="eager"/>
            </figure>
        </div>

</Section>

<style>
    img{
        border-radius: 5px;
    }
    h1{
        color: #000;
        margin: 0;
        font-size: 28px;
    }

    h4{
        margin-top: 5px;
        margin-bottom: 0px;
    }
    p{
        margin-top: 2px;
    }

    a{
        color: #444;
    }

    a:hover{
        color: #222;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    a.rrss{
        display: inline-flex;
        width: 18px;
        height: 18px;
        padding: 4px;
        justify-content: center;
        align-items: center;
        border: 1px solid gray;
        border-radius: 5px;
        transition: box-shadow 0.2s ease;
    }

    a.rrss:hover{
        box-shadow: 0 0 0 1px black;
    }
</style>