---
import Section from "@/components/section.astro"
import {basics} from "@cv/db_es.json"
import { Image } from 'astro:assets';
import X from "@/assets/icons/X.astro" 
import Linkedin from "@/assets/icons/" 
import Github from "@/assets/icons/Github.astro" 

const {name, phone, label, email, image, location, profiles} = basics

const perfiles = profiles.map(p => p.network);

---

<Section>
        <h1>{name}</h1>
        <div class="container">
            <div class="user_data">
                    <h4>{label}</h4>
                    <p>
                        Mail: <a href={`mailto:${email}`}>{email}</a><br>
                        Phone: {phone}
                    </p>
                    <a href="https://maps.app.goo.gl/TkMocBoLfwgMB1M59">{location.city}, {location.region}</a><br>
                    <br>
                </p>
                    <span>
                        {email} {perfiles.join(' ')}
                    </span>
            </div>
            <figure>
                <Image src={image} alt={name} width="150" height="150" class="imagen" loading="eager"/>
            </figure>
        </div>

</Section>

<style>
    h1{
        color: #000;
        margin: 0;
        font-size: 28px;
    }

    h4{
        margin-top: 5px;
        margin-bottom: 0px;
    }
    p{
        margin-top: 2px;
    }

    a{
        color: #444;
    }

    a:hover{
        color: #222;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>