---
import Section from "@/components/section.astro"
import {basics} from "@cv/db_es.json"
import { Image } from 'astro:assets';

const {name, label, email, image, location, profiles} = basics

const perfiles = profiles.map(p => p.network);

---

<Section>
        <h1>{name}</h1>
        <div class="container">
            <div class="user_data">
                <p>
                    {label}<br>
                    {location.city}, {location.region}<br>
                </p>
                    <span>
                        {email} {perfiles.join(' ')}
                    </span>
            </div>
            <figure>
                <Image src={image} alt="Un pájaro." width="150" height="150" class="imagen" loading="eager"/>
            </figure>
        </div>

</Section>

<style>
    h1{
        color: #000;
        margin: 0;
        font-size: 28px;
    }
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
</style>