---
import {basics} from "@cv/db_es.json"
import { Image } from 'astro:assets';

const {name, label, email, image, location, profiles} = basics

const perfiles = profiles.map(p => p.network);

---

<section>
    <Image src={image} alt="Un pájaro." width="150" height="150"  loading="eager" />
    <p>{name}</p>
    <p>{label}</p>
    <p>{email}</p>
    <p>{perfiles.join(' ')}</p>
    <p>{location.city}, {location.region}</p>


</section>