---
import Section from "@/components/section.astro"
import {basics} from "@cv/db_es.json"
import { Image } from 'astro:assets';

const {name, label, email, image, location, profiles} = basics

const perfiles = profiles.map(p => p.network);

---

<Section title="Hero">
        <div class="container">
            <p>{name}<br>
                {label}<br>
                {email}<br>
                {perfiles.join(' ')}
                {location.city}, {location.region}</p>
            <figure>
                <Image src={image} alt="Un pájaro." width="150" height="150" class="imagen" loading="eager"/>
            </figure>
        </div>


</Section>

<style>
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }
</style>