---
import {basics} from "@cv/db_es.json"

const {name, label, summary,email, image, location} = basics

---

<section>

    <h2>Hero</h2>
    <img src={image} alt="Avatar del curriculum">
    <p>{name}</p>
    <p>{label}</p>
    <p>{summary}</p>
    <p>{email}</p>
    <p>{location.city}, {location.region}</p>

</section>